body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    font-family: Arial, sans-serif;
    padding-top: 100px;
    
}

.calcolatrice {
    
    width: 400px;
    height: 420px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    background-color: #333;
}

#schermo {
    width: 97%;
    height: 60px;
    font-size: 1.2cm;
    text-align: right;
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px rgb(0, 0, 0);
    border-radius: 20px
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    height: 80px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

button:hover {
    background-color: #bbbbbb;
}

#uguale{
    background-color: #f79234;
}

#uguale:hover{
    background-color: #ff6600;
}

#cancella:hover{
    background-color: #d13b36;
}