@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #faf2d8;
}

.calcolatrice {
    width: 250px;
    background: linear-gradient(145deg, #ffffff, #e0e0e0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #464545, -10px -10px 20px #919191;
}

#schermo {
    width: 90%;
    padding: 15px;
    font-size: 1.5em;
    text-align: right;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: inset 3px 3px 6px #7e7e7e, inset -3px -3px 6px #c5c5c5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.2em;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #1e3ef7;
    color: white;
    box-shadow: 4px 4px 10px #2e2e2e, -4px -4px 10px #ffffff;
}

button:hover {
    background-color: #090158;
    box-shadow: 3px 3px 8px #c0c0c0, -3px -3px 8px #ffffff;
}

#uguale {
    background-color: #ff5e00;
    color: #fff;
}

#uguale:hover {
    background-color: #b84900;
}

#cancella {
    background-color: #ff0000;
    color: white;
}

#cancella:hover {
    background-color: #970000;
}
